tokenizers
elan.tar.gz
conjecturing_agents_plus_references.zip
conjecturing_agents.zip
prover_package.zip
goedel_original_scripts
__pycache__
goedel_run_outputs
aimo3_logs.zip
aimo3_logs/
ignore/
.DS_Store
data/
logs/
mathlib4.tar.gz
